<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside class="left-sidebar" th:fragment="monitor_left">
    <div class="allleft-menu" style="height:100%;">
        <nav class="sidebar-nav" style="height:100%;">
            <ul id="sidebarnav">
            
            </ul>
            <div class="left-foot-wechact">
	         	<div class="wechat-logo-box-card">
	         		<div class="manual-logo-box" title="产品手册在线查看">
	         			<a target="_blank" th:href="@{/system/productmanual/online}">
			         		<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-manual3"></use>
							</svg>
						</a>
	         		</div>
	         		<!-- <div class="wechat-logo-box">
		         		<svg class="icon" aria-hidden="true">
					    <use xlink:href="#icon-wechat-logo"></use>
						</svg>
	         		</div> -->
	         		<div class="home-footer__bottom-content__share__qrcode" id="home-footer__bottom-content__share__qrcode">
			          	<!-- <img th:src="@{/assets/images/QRcode.jpg}" alt="wechat" style="width:120px;height:120px;border-radius:4px;"> -->
			        </div>
	         		<!-- <div class="download-logo-box" title="反馈建议">
	         			<a href="#">
			         		<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-serve"></use>
							</svg>
						</a>
	         		</div> -->
	         	</div>
         	</div>
        </nav>
    </div>
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/common/common.js}"></script>
    <script th:src="@{/dist/baidu/baidu_statistics.js}"></script>
    <script th:inline="javascript">
        let menu = [[${menu}]];
        common_menu = menu;
        var ctxPath = /*[[@{/}]]*/'';
        let anal_groupid = [[${groupid}]];
        let anal_projectid = [[${projectid}]];
        getanalysisgroupId(anal_groupid, anal_projectid);
        sendProjectAndProject();
       
        /* getwechatqrcode(); */
    </script>
</aside>
</body>
</html>