<!DOCTYPE html>
<html  dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>忘记密码·网络情报分析系统</title>
    <script th:src="@{/common/analyze-cloud.js}"></script>
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/custom.css}" rel="stylesheet">
    <script src="//at.alicdn.com/t/font_1709263_pjy1n13b1v.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
<!--         <div class="preloader"> -->
<!--             <div class="lds-ripple"> -->
<!--                 <div class="lds-pos"></div> -->
<!--                 <div class="lds-pos"></div> -->
<!--             </div> -->
<!--         </div> -->
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper auth-wrapper-bg d-flex">
            <div class="bind-con">
                <div class="forgotTitle">
                    <div class="imgbox">
                        <img src="assets/images/password.png" alt="">
                    </div>
                    <h2>忘记密码</h2>
                </div>
                <div class="p-25">
                    <div class="form-horizontal" id="loginform">
                        <label class="input-lable">应用</label>
                        <div class="input-group mb-4">
                            <input type="text" class="form-control form-control-lg font-14" placeholder-class="login-place" placeholder="思通情报分析系统" disabled aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <label class="input-lable">邮箱</label>
                        <div class="input-group mb-4">
                            <input type="text" class="form-control form-control-lg font-14" placeholder="请填写登录邮箱" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20" style="display: flex; justify-content: space-between;align-items: center;">
                                <button class="btn btn-block btn-lg btn-info font-14" type="submit" id="getemail">
                                    发送重置密码邮件
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    $("#getemail").click(function(){
        window.location.href= "/login"
    })
    // ============================================================== 
    // Login and Recover Password 
    // ============================================================== 
    </script>
</body>

</html>