[
   { x: "第一季度",value: "999721"
   },
   { x: "中共中央政治局", value: 51721
   },
   { x: "常务委员会", value: 269721
   },
   { x: "会议", value: 385721
   },
   { x: "听取", value: 342721
   },
   { x: "吉林长春", value: 477721
   },
   { x: "长生", value: 368721
   },
   { x: "公司", value: 421721
   },
   { x: "疫苗", value: 43721
   },
   { x: "案件", value: 368721
   },
   { x: "调查", value: 411721
   },
   { x: "问责", value: 219721
   },
   { x: "情况", value: 412721
   },
   { x: "汇报", value: 174721
   },
   { x: "中共中央", value: 371721
   },
   { x: "总书记", value: 475721
   },
   { x: "习近平", value: 372721
   },
   { x: "主持会议", value: 489721
   },
   { x: "发表", value: 259721
   },
   { x: "重要讲话", value: 388721
   },
   { x: "这起", value: 422721
   },
   { x: "发生", value: 195721
   },
   { x: "高度重视", value: 102721
   },
   { x: "作出", value: 75721
   },
   { x: "指示", value: 116721
   },
   { x: "查清", value: 273721
   },
   { x: "事实真相", value: 299721
   },
   { x: "严肃", value: 349721
   },
   { x: "依法", value: 219721
   },
   { x: "从严处理", value: 448721
   },
   { x: "守住", value: 276721
   },
   { x: "底线", value: 270721
   },
   { x: "保障", value: 404721
   },
   { x: "群众", value: 246721
   },
   { x: "切身利益", value: 94721
   },
   { x: "社会", value: 440721
   },
   { x: "稳定", value: 230721
   },
   { x: "大局", value: 352721
   },
   { x: "党", value: 11721
   },
   { x: "十八", value: 11721
   },
   { x: "健康", value: 39721
   },
   { x: "场合", value: 163721
   },
   { x: "食品安全", value: 382721
   },
   { x: "药品", value: 329721
   },
   { x: "重要性", value: 460721
   },
   { x: "一系列", value: 444721
   },
   { x: "论述", value: 302721
   },
   { x: "点击", value: 331721
   },
   { x: "一页", value: 55721
   },
   { x: "猛药", value: 225721
   },
   { x: "刮骨", value: 19721
   },
   { x: "疗毒", value: 317721
   },
   { x: "决心", value: 357721
   },
   { x: "完善", value: 430721
   },
   { x: "我国", value: 312721
   },
   { x: "管理体制", value: 50721
   },
   { x: "确保", value: 91721
   },
   { x: "各级党委", value: 266721
   },
   { x: "政府", value: 141721
   },
   { x: "义不容辞", value: 119721
   },
   { x: "之责", value: 192721
   },
   { x: "始终", value: 143721
   },
   { x: "身体健康", value: 289721
   },
   { x: "放在首位", value: 368721
   },
   { x: "生物", value: 144721
   },
   { x: "2018", value: 256721
   },
   { x: "国民", value: 103721
   },
   { x: "政策", value: 164721
   },
   { x: "提供", value: 197721
   },
   { x: "全方位", value: 88721
   },
   { x: "全", value: 342721
   },
   { x: "周期", value: 293721
   },
   { x: "服务", value: 62721
   },
   { x: "民族", value: 52721
   },
   { x: "昌盛", value: 458721
   },
   { x: "国家", value: 313721
   },
   { x: "富强", value: 118721
   },
   { x: "标志", value: 106721
   },
   { x: "深化", value: 289721
   },
   { x: "医药卫生", value: 61721
   },
   { x: "体制改革", value: 490721
   },
   { x: "建立", value: 260721
   },
   { x: "中国", value: 335721
   },
   { x: "特色", value: 119721
   },
   { x: "医疗卫生", value: 100721
   },
   { x: "制度", value: 4721
   },
   { x: "医疗保障", value: 34721
   },
   { x: "优质", value: 201721
   },
   { x: "高效", value: 345721
   },
   { x: "服务体系", value: 411721
   },
   { x: "健全", value: 314721
   },
   { x: "医院", value: 341721
   },
   { x: "管理制度", value: 183721
   },
   { x: "基层", value: 421721
   },
   { x: "全科", value: 123721
   },
   { x: "医生", value: 449721
   },
   { x: "队伍", value: 116721
   },
   { x: "建设", value: 181721
   },
   { x: "取消", value: 135721
   },
   { x: "以药", value: 370721
   },
   { x: "养医", value: 81721
   },
]